.navbar {
    background-color: $bkg-secundario;

}




.ancla {

    width: 5%;

    .logo {

        width: 100%;

    }

}

.menu-hmb {

    gap: 4em;


}

.nav-item {

    a {
        font-size: 1.3em;
        font-weight: 500;
        color: white;

    }

}