/* colores */
$bkg-secundario: rgb(15, 15, 15);

$color-redes: (
    facebook: #3b5998,
    instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%),
    twitter: #00acee,
);